{{#layout}}{{#menu}}home{{/menu}}
	<h1>Error</h1>
	<div class="container">
		<div class="col-sm-offset-2 col-sm-10">There was a problem</div>
		<div class="col-sm-offset-2 col-sm-10">{{error}}</div>
	</div>
{{/layout}}