{{<layout}}{{$menu}}home{{/menu}}{{$body}}
	<h1>Demo</h1>
	<div class="container">
		<div class="col-sm-offset-2 col-sm-10">Hello World</div>
		{{#form}}<form method="post">
			<div class="form-group has-feedback">
				{{#field}}{{#render}}{{/render}}{{/field}}
				<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</div>
		</form>{{/form}}
	</div>
	{{#foo.value}}<div class="container">
		<div class="col-sm-offset-2 col-sm-10">Value is: {{.}}</div>
	</div>{{/foo.value}}
{{/body}}{{/layout}}