<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{{layout.title}}}</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<ul class="nav nav-pills" role="tablist">
			{{#menus}}<li class="{{#active}}active{{/active}}"><a href="{{path}}">{{name}}</a></li>{{/menus}}
			<li><a href="#" onclick="$('#logout').submit()">Logout</a></li>
		</ul>
	</div>
	{{{layout.body}}}
	<form id="logout" action="/logout" method="post">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
	</form>
</body>
</html>