{{!
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Faux</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>
<body>}}
{{<layout}}{{$title}}{{#menu}}login{{/menu}}{{/title}}
	{{$body}}
	<h1>Login</h1>
	<div class="container">
		<form action="/login" method="post">
			<div class="form-group">
				<label for="username">Username:</label> <input type="text"
					class="form-control" id="username" name="username" /> <label
					for="username">Password:</label> <input type="password"
					class="form-control" id="password" name="password" />
					<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
			</div>
			<br/>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
	{{/body}}
{{/layout}}
{{!</body></html>}}